/* --- Mobile Sticky Icon Menus
-------------------------------------------------------- */
.wp-block-section:nth-child(2n-1).wp-mobile-icon-menu,
.wp-block-section.wp-mobile-icon-menu {
  background-color: var(--wp--preset--color--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  .wp-block-columns {
    gap: 0;

    .wp-block-column {
      flex-basis: 25% !important;
      height: 55px;

      >* {
        height: 100%;
      }

      .stat-block {
        height: 100%;

        * {
          height: 100%;
          width: 100%;

          .wc-block-mini-cart__quantity-badge {
            justify-content: center;


            .wc-block-mini-cart__badge {
              background-color: var(--wp--preset--color--foreground);
              color: var(--wp--preset--color--color-light);
              height: 20px;
              min-width: 20px;
            }

          }

          .wc-block-mini-cart__badge {
            width: auto;


          }

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }

      .fse-pro-icons {
        width: 100%;
      }

      a,
      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;


      }
    }

  }
}

/** sticky search for mobile  **/
.wp-mobile-icon-menu .search-container {
  position: fixed;
  top: 0;
  height: calc(100vh - 55px);
  left: 0;
  padding-top: 50px;
}


.wp-block-post-content .wp-block-section:nth-child(2n-1).wp-mobile-icon-menu,
.wp-block-post-content .wp-block-section.wp-mobile-icon-menu {
  position: relative !important;
  bottom: auto !important;
}

.wp-mobile-icon-menu .wp-block-search .wp-block-search__label {
  text-transform: none;
  font-weight: var(--wp--custom--typography--font-weight--medium);
  font-size: 16px;
}

.wp-mobile-icon-menu .wp-block-search__inside-wrapper {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 12px;
}

.wp-mobile-icon-menu .wp-block-fse-pro-header-search .search-container {
  background-color: var(--wp--preset--color--background);
  padding-left: 20px;
  padding-right: 20px;
}

.wp-mobile-icon-menu .wp-block-search__input {
  background-color: var(--wp--preset--color--background);
  border: 1px solid var(--wp--preset--color--foreground);
  border-radius: 6px;
  height: 50px;
}

.wp-block-section:nth-child(2n-1).wp-mobile-icon-menu .wp-block-columns .wp-block-search button.wp-block-search__button,
.wp-mobile-icon-menu .wp-block-search button.wp-block-search__button {
  background-color: var(--wp--preset--color--foreground);
  border-radius: 6px;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  text-transform: uppercase;
  height: 50px;
}

.wp-block-post-content .wp-mobile-icon-menu .search-container {
  position: relative;
  top: auto;
  height: auto;
  left: 0;
  padding-top: 0px;
  margin-top: 20px;
}

.wp-block-post-content .wp-mobile-icon-menu .search-container .wp-block-search__button {
  margin-left: 1px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  background-color: var(--wp--preset--color--foreground);
}