<!-- wp:template-part {"slug":"header-with-cart" ,"tagName":"header"} /-->
<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"threadwears/header-media"} /-->
    <!-- wp:pattern {"slug":"threadwears/featured-category"} /-->
    <!-- wp:pattern {"slug":"threadwears/featured-products"} /-->
    <!-- wp:pattern {"slug":"threadwears/latest-posts"} /-->
    <!-- wp:pattern {"slug":"threadwears/woocommerce-features"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-dark-three-columns","tagName":"footer"} /-->